:root {
    --ti-cursor-margin-left: 0.1em;
    --ti-cursor-color: rgb(13, 253, 101);
    /* --ti-cursor-width: 5px; */
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* before와 after는 배경화면을 다룰 때는 차이 없다. */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('https://kids-flashcards.com/collages/numbers-(1-20)-english-flashcards.jpg');
    filter: blur(1px) brightness(70%);
    /* 흐림과 어둡게 설정 */
    opacity: 0.3;
    /* 50% 투명도 적용 */
    z-index: -1;
    /* 배경을 뒤로 보내기 위한 z-index 설정 */
}

h1 {
    font-family: verdana;
    margin-bottom: 0;
}

#chances-tag {
    height: 60px;
    width: 200px;
    font-size: 20px;
    background-color: rgb(155, 235, 155);

    /* 글자를 정중앙에 정렬하기 위해 */
    display: flex;
    /* 좌우 중간 정렬 */
    justify-content: center;
    /* 상하 중간 정렬 */
    align-items: center;

    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(65, 64, 64, 0.95);
    transition: all 0.5s;
}

#chances-tag:hover {
    height: 70px;
    width: 230px;
}



img {
    width: 50%;
    height: 50%;
    /* height: 200px; */
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 5px 5px 10px rgba(76, 75, 75, 0.95);
    /* 그림자 설정 */
    margin-bottom: 20px;
}

.flip-card {
    /* background: transparent; */
    perspective: 1000px;
    position: relative;
    width: 200px;
    height: 60px;
    text-align: center;
    transition: all .6s;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;

}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg)
}

.flip-card-front {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    backface-visibility: hidden;
}

.flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* 부모 요소 상단에 위치하도록 설정 */
    left: 0;
    /* 부모 요소 왼쪽에 위치하도록 설정 */
    backface-visibility: hidden;
    display: block;
}

.flip-card-front {
    background: rgb(237, 173, 248);
    color: black
}

.flip-card-back {
    background: #4d59fb;
    color: white;
    transform: rotateY(180deg);
}

#message,
#message2 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* #result-tag {
    height: 60px;
    width: 200px;
    font-size: 20px;
    background-color: rgb(237, 173, 248);

    display: flex;
    align-items: center;
    /* 상하 중간에 정렬 */
/* justify-content: center; */
/* 좌우 중간에 정렬 */
/* border-radius: 10px; */
/* 곡선 보더 */
/* margin-top: 10px; */
/* margin-bottom: 10px; */
/* padding-left: 10px; */
/* padding-right: 10px; */
/* transition: all .5s; */
/* } */
#user-input {
    height: 60px;
    width: 120px;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 4px;
    transition: all .5s;
}

/* 기본 스타일 */
#play-button {
    height: 60px;
    width: 200px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .5s;
}

#reset-button {
    height: 60px;
    width: 120px;
    font-size: 20px;
    background-color: rgb(250, 84, 230);

    display: flex;
    align-items: center;
    /* 상하 중간에 정렬 */
    justify-content: center;
    /* 좌우 중간에 정렬 */
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 10px;
    transition: all .5s;

}

#reset-button:hover {
    cursor: pointer;
    height: 70px;
    width: 140px;
}

#mission {
    color: rgb(66, 66, 247)
}

.set {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first {
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.second {
    width: 40vw;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 900px) {
    .set {
        flex-direction: column;
    }

    img {
        height: 40%;
        margin-bottom: 10px;
    }

    #mission {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .first {
        flex-direction: column;
        align-items: center;
    }

    /* #result-tag { */
    /* margin-bottom: 0px; */
    /* } */

    #user-input {
        width: 200px;
    }

    #play-button {
        width: 90px;
        margin-left: 30px;
    }

    #reset-button {
        margin-right: 30px;
        width: 90px;
    }

    /* img {
        width: 40%;
        height: 40%;
    } */
}